<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    
<div id = "header">
    <ul>
        <li><a href="/">Emma Elisabeth Midori Remy</a></li>
    </ul>
</div>

<nav>
    <ul>
        <li>&#9675</li>
        <li><a href="/">Home</a></li>
        <li>&#9675</li>
        <li><a href="/projects">Projects</a></li> 
        <li>&#9675</li>
    </ul>
</nav>

<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:remy.eem@gmail.com">Email</a></li>
        <li><a href="https://github.com/emmaremy">Github</a></li>
        <li><a href="https://www.linkedin.com/in/emma-r-4b0344116/">LinkedIn</a></li>
        <li><a href="https://twitter.com/remy_eem">Twitter</a></li>
    </ul>
</footer>
</body>
</html>
