<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/lhd.css">
</head>
<body>
<div id="logo">
</div>
<nav>
    <ul>
        <li><a href="https://github.com/emmaremy/lhd-16">GitHub</a></li>
        <li><a href="https://localhackday.mlh.io/">LHD</a></li>
        <li><a href="https://devpost.com/software/healthtexts">DevPost</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="http://www.opensource.org/licenses/mit-license.html">MIT License</a></li>
    </ul>
</footer>
</body>
</html>
